---
import Main from '../components/Main.astro';
import Layout from '../layouts/Layout.astro';
import LogoGuardian from '../assets/Logo.svg';
---

<Layout title="GUARDIAN GPS || RASTREO SATELITAL">
	<Main>
		
		<p class="mt-8 text-5xl font-semibold text-center text-gray-100">Guardian GPS</p>
	</Main>
</Layout>
